*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;

  }
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }
  body {
    background-color: black;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    display: flex;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font-family: inherit;
font-size: 100%;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  #root, #__next {
    isolation: isolate;
  }

  @font-face {
    font-family: "built-titling" ;
    src: url(./fonts/built\ titling\ bd.woff2);
  }





  body > .container {
    display: flex;
    flex-direction: row;
    margin: auto;
    height: 100vh;
    width: 140vh;
    border: 1px solid red;
    min-height: 25vh;
    min-width: 25vh;

  }

  .logo-side  {
    width: 40%;
    background-color: blue;
  }

  .logo-container {
    background-color: aqua;
    opacity: 25%;
  }


  .sign-up-form {
    display: flex;
    flex-direction: column;
    flex:1;


  }

  .form-section {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    flex: 1;
    padding: 10px;
    box-shadow: 0px 2px 10px gray;
  }
  

  .top-section,
  .bottom-section {

    background-color: rgb(243, 240, 240);
    flex: 1;
    padding: 10px;
  }

  .top-section {

    align-content: end;
    font-size: 32px;
    font-family: "built-titling";
    font-style: italic;
    padding: 25px;
    padding-bottom: 35px;

  }

  form {
    display: flex;
    flex-wrap: wrap;

  }

  label, input {
    
  }

  form div {
    width: 120px;
    margin: 16px;

  }

  .bottom-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  }

  button {
  color: white;
  font-weight: 900;
  background-color: rgb(71, 71, 224);
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
  margin: 16px;


  }

  button:hover{
  opacity: 90%;

  }

  button:active {
  opacity: 70%;
  }

  p {
    font-size: 24px;
    font-weight: 900;

  }

